@model fomka_web.Models.TaskVm
@{
    ViewBag.Title = "Submit";
}

<h2>@Model.Answer</h2>
<div class="row">
    <a class="btn btn-primary" href="~/Home/Index">Продовжити</a>
</div>

<script type="text/javascript" src="~/Scripts/CoockieCleaner.js"></script>

